@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

body,
html {
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}
